$primary-red: #d13138;
$primary-gray: #fff;

$text_color-dark: #424d54;
$text_color_light: #a7a7a7;

$text_font-weight_light: 400;

$text_font-size_large: 3.5rem;
$text_font-size_medium: 2rem;
$text_font-size_small: 1rem;



