$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "./scrollAnimation.scss";
@import "./offCanvas.scss";

.custom-card_image {
  min-width: 10rem;
}

.custom-overlap {
	display: grid;
  grid-template-columns: repeat(7, 1fr);
  .custom-overlap_left {
    grid-row: 1;
    grid-column: 1 / span 7;
  }
  .custom-overlap_right {
    grid-row: 1;
    grid-column: 4 / span 4;
  }
}

.custom_bg-landmark81 {
  background-image: url("/src/assets/pictures/Landmark81banner.jpg");
  aspect-ratio: 9/16;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 65%;
}

.wiggle-mouse {
  animation-duration: 2500ms;
  animation-name: wiggle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-1rem);
  }
  50% {
    transform: translateX(1rem);
  }
  75% {
    transform: translateX(0rem);
  }
}
