@use 'variable';
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.custom-card_image{
				min-width: 10rem;
}

.overlap {
	grid-template-columns: repeat(2, 1fr);
	.image_to-overlap{
		grid-row: 1;
		grid-column:1 / span 2;
	}
	.text_overlap{
		grid-row: 1;
		grid-column: 1 / span 1;
		align-self: start;
		z-index: 1;
		width: 100vw;
		text-align: center;
	}
}

.custom_bg-landmark81{
	background-image: url('/src/assets/pictures/Landmark81banner.jpg');
	aspect-ratio: 3/4;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 75% 65%;
}