    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;

        padding-top: 25vh;

        background-image: url('/src/assets/pictures/bg-menu.png');
        background-color: white;
        background-position: 10% 10%;
        background-size: 30%;
        background-repeat: no-repeat;
    }